services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./db_data.sql:/docker-entrypoint-initdb.d/db_data.sql
    ports:
      - "5432:5432"
